.root {
  width: 100vw;
  background-color: #f5f5f7;
}

.header {
  padding: 10px;
  color: #313131;
  font-size: 50px;
  align-items: baseline;
  position: relative;
}

.Button {
  float: right;

  &:hover {
    background: #e6e5e5;
  }
}

input {
  width: 100%;
  height: 35px;
  padding: auto;
  font-size: 20px;
  color: #babdc2;
  border: 0;
}

input[type="text"] {
  transition: color 0.4s ease-in-out;
}

input[type="text"]:focus {
  color: #000000;
}

table {
  padding-left: 8px;
  margin-top: 10px;
  border-collapse: collapse;
  font-size: 20px;
  width: 100%;
  min-width: 600px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.th {
  padding: 12px 15px 12px 15px;
  text-align: center;
  line-height: 35px;
}

.td {
  text-align: left;
  line-height: 35px;
}

.td:nth-child(odd) {
  background-color: #f5f5f7;
}

.td:hover {
  background-color: #e6e5e5;
}

.td text {
  padding-left: 10px;
}

.graphContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.graph {
  width: 90%;
  height: 90%;
}

.title {
  padding: 20px;
  color: #313131;
  font-size: 20px;
  align-items: baseline;
  position: relative;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  background-color: #f9f9f9;
  color: #999;
  padding: 20px;
  /* Adjust padding as needed */
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  /* Add margin bottom for gap */
  width: 200px;
  /* Adjust the width as needed */
  border-radius: 10px;
  /* Make border-radius rectangular */
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Add box-shadow for elevation */
  position: relative;
  /* Ensure positioning context */
  max-height: 500px;
  /* Set maximum height */

}

.dropdownContent {
  position: absolute;
  bottom: calc(100% + 10px);
  /* Position above the button with a gap */
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  /* Make border-radius rectangular */
  padding: 20px;
  z-index: 1;
  width: 260px;
  /* Adjust the width as needed */
  height: 500px;
  /* Adjust the height as needed */
  font-family: Arial, sans-serif;
}

.card {
  align-items: center;
  max-height: 100%;
  overflow-y: auto;

}

.card p {
  margin: 0;
  font-size: 16px;
  
  /* Increase font size */
}

.closeButton {
  position: absolute;
  /* Position the button absolutely */
  top: -34px;
  /* Adjust top position as needed */
  right: -10px;
  /* Adjust right position as needed */
  background-color: transparent;
  border: none;
  font-size: 16px;
  /* Decrease button font size */
  cursor: pointer;
  color: #999;
  height: 20px;
  /* Decrease button height */
}

.boxcontainer {
  position: fixed;
  bottom: 20px;
  /* Adjust bottom spacing as needed */
  right: 80px;
  /* Adjust right spacing as needed */

  border-radius: 5px;
  padding: 10px;
  /* Additional styles for your box content */
}

/* GrapghePage.module.scss */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* Center the modal horizontally and vertically */
  width: 30%;
  /* Set width to 90% of the viewport width */
  max-width: 600px;
  /* Set a maximum width for the modal */
  height: auto;
  /* Let the height adjust to content */
  max-height: 80%;
  /* Set a maximum height for the modal */
  background-color: #f9f9f9;
  border-radius: 10px;
  /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Add box shadow for elevation */
  font-family: Arial, sans-serif;
  /* Change font family */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  /* Add text shadow for better visibility */
}

.customLink {
  text-decoration: none;
  color: inherit;
  float: right;

  &:hover {
    background: #e6e5e5;
  }
}

.modalContent {
  color: white;
  /* White text color */
  width: 100%;
  /* Take up full width of modal */
  height: 100%;
  /* Take up full height of modal */
  text-align: center;
  /* Center text horizontally */
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  /* Change font family */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  /* Add text shadow for better visibility */
  justify-content: center;
}


.close {
  position: absolute;
  /* Position the close button relative to the modal */
  top: -30px;
  /* Adjust top position to move the button outside of the modal box */
  left: -30px;
  /* Adjust left position to move the button outside of the modal box */
  background-color: transparent;
  border: none;
  font-size: 32px;
  /* Increase button font size */
  cursor: pointer;
  color: #999;
  width: 60px;
  /* Increase button width */
  height: 60px;
  /* Increase button height */
  z-index: 9999;
  /* Ensure the close button appears above other elements */
  font-family: Arial, sans-serif;
  /* Change font family */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  /* Add text shadow for better visibility */
}


.close:hover,
.close:focus {
  color: #eee;
  /* Lighter color on hover/focus */
  text-decoration: none;
}

.modal.open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.downloadButtonsContainer {
  display: flex;
  /* Use flexbox */
  flex-wrap: wrap;
  /* Allow wrapping if needed */
}

.downloadButton {
  background-color: #f9f9f9;
  margin-right: 10px;
  color: #999;
  padding: 20px;
  /* Adjust padding as needed */
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  /* Add margin bottom for gap */
  width: 200px;
  /* Adjust the width as needed */
  border-radius: 10px;
  /* Make border-radius rectangular */
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Add box-shadow for elevation */
  position: relative;
  /* Ensure positioning context */
  max-height: 500px;
  /* Set maximum height */
  overflow-y: auto;
  /* Enable vertical scrolling */
}

.downloadButton:hover {
  background-color: #e5e5e5;
  /* Lighter background color on hover */
}


.container {
  margin-top: 13px;
}