//Button root styles
.btn {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0;
  padding: 0.5rem 0.75rem;
  border-radius: 7px;
  background: #fbfbfd;
  height: 2.5rem;
  font: bold 16px Arial, sans-serif;
  position: relative;
  transition: all 0.2s ease-out;
  white-space: nowrap;
  box-shadow: 0px 4px 4px 0px #00000040,
    0px -3px 1.600000023841858px 0px #00000040 inset,
    0px 1px 3px 0px #ffffff inset;

  &:disabled {
    cursor: not-allowed;
  }
}

//Loader, Icon and Content styles
.btn__icon {
  width: 1.25rem;
  height: 1.25rem;

  > svg {
    width: 100%;
    height: 100%;
  }

  &.btn__loaderCenter {
    margin-right: 0rem;
  }

  &.btn__loader {
    animation: button-loader-spin 1.4s infinite linear;
    transform: translateZ(0);
  }

  &--left {
    margin-right: 0.5rem;
  }
  &--right {
    margin-left: 0.5rem;
  }

  @keyframes button-loader-spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

//Button variant styles: contained, outlined, text
//new styles
.btn--contained {
  background: #fbfbfd;
  color: #313131;

  &:hover {
    background: #e1e1e3;
  }

  &:disabled {
    color: #fbfbfd;
    background-color: #7d7d7e;
  }
}

//Button size styles: small, medium, large
//new styles
.btn--small {
  height: 2.25rem;
}

.btn--medium {
  height: 2.75rem;
}

.btn--large {
  height: 3.25rem;
}

.btn__content {
  display: flex;
  align-items: center;

  &.btn__contentHidden {
    visibility: hidden;
  }
}

.btn__centerLoader {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}

.btn--fluid {
  justify-content: center;
  width: 100%;
}

.btn--active {
  background: var(--ds-clr-secondary-hover);
}
